body {
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  font-family: "calibri", sans-serif;
  font-size: 1.2rem;
}

main {
  display: grid;
  grid-template-rows: 25% 75%;
  gap: 29px;
}

img {
  width: 50px;
}

.sub-heading {
  font-weight: normal;
}

.sem {
  height: 26px;
}

.head {
  font-weight: normal;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

.header {
  background-color: rgb(31, 165, 218);
}

.thokozani {
  background-color: #bfc1bc;
  color: grey;
}

.low-attendance {
  color: red;
  font-weight: bold;
}

.average {
  color: blue;
  font-weight: bold;
}

.top-block {
  height: 26px;
}

.course,
.lecturer,
.signature {
  background-color: #57a3d7;
}

.signature {
  height: 50px;
}

.wk {
  background-color: #57a3d7;
}

.no {
  background-color: #89caf7;
}

.participant {
  background-color: #5580a0;
}
